.App {
  padding: 0;
}

.background{
  background-image: linear-gradient(0.25turn, rgba(81, 160, 194, 0.70), rgba(235, 248, 225,0.70), rgba(246, 157, 60,0.70)), url("./pexels-benjamin-suter-2700536.jpg");
  background-position: 10% 30%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  padding: 3.5% 17%;
}

.container-img{
  align-items: center;
  width: 65vw;
  height: 87vh;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background-color: whitesmoke;
}

.img{
  width: 40%;
  height: 100%;
  background-position: 20% 30%;
  background-size: 130vh;
  background-image: url("./pexels-benjamin-suter-2700536.jpg");
  border-radius: 15px 0px 0px 15px;
}

.container{
  margin: 20px;
  padding: 3% 2% 3% 2%;
  height: 65%;
  width: 60%;
  /* border: 2pt dotted peru; */
}

.container h1, h5{
  text-align: center;
}

.container h5{
  margin-bottom: 3%;
}


